*{
    padding: 0px;
    margin: 0px;
    
    background-size: 100%;
    font-size: 100%;
}

body {
    font: 1em/150% Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #0b5ee3;
    

}
   
 
.layouthead{
    position: relative;
    background-color:#397be6;
    height: 137px;
    width:100%; 
    background-size: 100%;
   
}
#logo{
    position: absolute;
    left: 300px;
    z-index: 1; 
    height:137px;
    width: 137px;
}
#escolamode{
    height:128px;
    width: 170px;
}

#kda{
    position: absolute;
    z-index: 1;
    left: 900px;
    top: 50px;
    

}
#textsearch{
    background-color: white;
    height: 23px;
    border: #0b5ee3;
}

.btn_search{
    width:30px;
    height: 28px;
    background-color: #2f4550;
    padding: 5px;
    cursor: pointer;
}
.search_login{
    position: absolute;
    width: 500px;
    height: 50px;
    background-color:  #0b5ee3;
    z-index: 1;
    top: 1000px;
    
}
.cadastro ul li{
    display: block;
    width: 200px;
    height: 40px;
    background-color:#0b5ee3;;
    text-align: center;
    position: relative;
    float: left;
    left: 170px;
    top: -40px;
    z-index: 1;
    font-size: 14px;
    line-height:40px;

}
.cadastro ul{
    padding: 0px;
}
    .cadastro ul ul{
        position: absolute;
        top: 80px;
        z-index: 1;
        display: none;
        margin-left: -170px;
    } 
 

    
    

.cadastro ul li:hover > ul{
    display: block;
}
.cadastro ul li:hover{
    background-color: #052963;

}
.cadastro a{
    text-decoration: none;
    color: white;
}

.circulo{
		width:80px;
		height:80px;
		border-radius:50%;
		border:3px solid #0b5ee3;
		z-index:5;
		background:#0b5ee3;
        position: absolute;
        left: -900px;
        top: -30px;
        }
.circulo:hover{
    background-color:#052963 ;
}
.img{   
        position: absolute;
	    z-index:1;
	    width:40px;
        height:80px;
        background-position:center;
        left: 25px;
        top:15px;
		
        }

 #img_home{
      width:20px;
      height:40px;


 }
 
 

.menu ul li{
    z-index: 1;
    position: relative;
    background-color: #0b5ee3;
    color: white;
    float: left;
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  
}


.menu ul li:hover{
    background-color: #052963
}


.menu ul{
    top: 4px;
    padding: 0;

}
.menu ul ul{
    display: none;

}
.menu ul li:hover > ul{
    display: block;

}
.menu ul ul ul{
    color: #397be6;
    margin-left: 201px;
    top:0px;
    position: absolute;
    z-index: 1;
    display: none
}
.menu ul ul li:hover{
    background-color: #083580;
    
}
.menu a{
	color: white;
	text-decoration: none;
}




.body_content{

    top: 40px;
    position: relative;
    width:100%;
    height: 1000px;
    background-color: #edf4fa;


}
.news_title{
    text-align: center;
    border-bottom: 3px solid #0b5ee3;
    position:absolute;
    left: 20px;;
    
}
.news_content1{
   top: 100px;
    position:absolute;
    border: #0b5ee3 3px solid;
    height: 300px;
    text-indent: 4px;
    width: 300px;

}
.news_content2{
   top: 440px;
    position:absolute;
    border: #0b5ee3 3px solid;
    height: 300px;
    text-indent: 4px;
    width: 300px;


}
#censo_escolar{
        width:290px;
        height: 180px; 

    }
 .video_title{
     text-align: center;
    border-bottom: 3px solid #0b5ee3;
    position:absolute;
    left: 430px;
    top: 410px;
    width: 400px;
   
    
 }  
 .video_content{
     position: absolute;
      top: 500px;
      left: 400px;


 }
 #video_size{
     width: 400px;
 }
  
.produtos{
    
    position: absolute;
    height: 1000px;
    width: 400px;
    left: 65%;
    top: 200px;;
    
    
}
.title_table{
 
text-align: center;
width: 400px;
position: absolute;
background-color: #0b5ee3; 
color: white;
text-align: center;
top: 80px;
    
}
.table_products tr img:hover{
    background-color: #0b5ee3;
}
table{
    position: absolute;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #0b5ee3;
    background-color:7c95aa; 
    color: black;
    top: 80px;
}
.table_products{
    position:absolute;
    height: 100px;
    width: 100%;
    

}
.products_size{
    width: 180px;
    height: 150px;
 
}

.products_item{
    padding:20px;
}

#myCarousel{
    height: 300px;
    width: 400px;
    position: absolute;
    left:28%;
    top:300px;

}
.foot{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #0b5ee3;
}
 


 
 .foot ul li{
    z-index: 1;
    position: relative;
    float: left;
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background-color:black;
    left: 20%;
    
 } 

.foot ul{
    top: 4px;
    padding: 0;
}
.foot a{
    text-decoration:none;
    color: white;
}